#Clerk config
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

NEXT_PUBLIC_CLERK_SIGN_IN_URL='/sign-in'
NEXT_PUBLIC_CLERK_SIGN_UP_URL='/sign-up'
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL='/'
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL='/'

#Gemini config
GOOGLE_GENERATIVE_AI_API_KEY=
EMBEDDING_MODEL="models/gemini-embedding-001"
CHAT_MODEL="models/gemini-2.5-flash"
EMBEDDING_DIM=1536

DATABASE_URL=''


#scrapper url https://app.scrapecreators.com/
#Link Scrapping Tool
SCRAPPER_API_KEY=""


